services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - 9200:9200

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.0
    container_name: kibana
    ports:
      - 5601:5601
    depends_on:
      - elasticsearch

  logstash:
    image: docker.elastic.co/logstash/logstash:8.12.0
    container_name: logstash
    volumes:
      - ./logstash.conf:/usr/share/logstash/pipeline/logstash.conf
      - ./app/logs:/logs
    ports:
      - 5044:5044
      - 9600:9600
    depends_on:
      - elasticsearch

  flaskapp:
    image: flask-elk-app
    container_name: flaskapp
    ports:
      - 5000:5000
    volumes:
      - ./app/logs:/app/logs
